Mozilla/5.0 (compatible; MSIE 11.0; Windows; U; Windows NT 6.2; Win64; x64 Trident/7.0)
Mozilla/5.0 (iPad; CPU iPad OS 9_5_9 like Mac OS X) AppleWebKit/600.44 (KHTML, like Gecko) Chrome/47.0.1756.313 Mobile Safari/537.3
Mozilla/5.0 (U; Linux i566 ) AppleWebKit/537.7 (KHTML, like Gecko) Chrome/53.0.2551.268 Safari/533
Mozilla/5.0 (Windows; U; Windows NT 10.3; x64) AppleWebKit/603.9 (KHTML, like Gecko) Chrome/50.0.3336.316 Safari/535.8 Edge/11.57130
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.2; Win64; x64; en-US Trident/4.0)